.logo {
 
  &__svg {
    //  width: 133px;
    // height: 66px;
    // width: clamp(111px, 2.3858rem + 9.4828vw, 133px);
    width: clamp(111px ,6.1125rem + 3.52vw, 133px);
    aspect-ratio: 2.1 / 1;
    fill: $main-color;
    transition: all .3s;
  }

  &:hover svg {
    fill: $third-color;
  }
}

@media ( max-width:768px) {
  .logo {
    position: relative;
    z-index: 10;
}
}

@media ( max-width:375px) {
  .logo {

    &__svg {
      width: clamp(100px, 2.25rem + 20vw, 111px);
    }
  
  }
}
 