.footer {
  width: 100%;
  padding: 37px 0 33px;
}

.footer__top {
  width: 100%;
  margin-bottom: 30px;
  @include flex-mix(space-between, center, row);
}

.footer__devider {
  width: 1px;
  height: 70px;
  background: #393939;

  &:nth-of-type(1) {
    translate: 20px 0 0;
  }
  &:nth-of-type(3) {
    translate: -28px 0 0;
  }
  &:nth-of-type(4) {
    translate: 28px 0 0;
  }
}
.footer__contacts {
  @include flex-mix(flex-start, center, row);
  gap: 10px;
}

.footer__phone-number {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 21px;
  transition: all 0.3s;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 0;
    color: $third-color;
    overflow: hidden;
    transition: all 0.3s;
  }
}

.footer__socials {
  @include flex-mix(space-between, center, row);
  gap: 10px;
}

.footer__social {
  width: 20px;
  height: 20px;
}

.footer__social-svg {
  width: 20px;
  height: 20px;
}

.footer__address {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  translate: -30px 0 0;
}

.footer__email {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.footer__email-link {
  position: relative;
  transition: all 0.3s;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 0;
    color: $third-color;
    overflow: hidden;
    transition: all 0.3s;
  }
}

.footer__bottom {
  width: 100%;
  @include flex-mix(space-between, center, row);
}

.footer__privacy {
  @include flex-mix(space-between, center, row);
  gap: 30px;
}

.footer__privacy-link {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $fifth-color;

  position: relative;
  transition: all 0.3s;

  &::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    width: 0;
    color: $third-color;
    overflow: hidden;
    transition: all 0.3s;
  }
}

.footer__rights-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: $fifth-color;
}

@media (hover: hover) {
  .footer__phone-number {
    &:hover {
      color: transparent;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .footer__social {
    &:hover {
      animation: dialing 1s linear 0.3s infinite;
    }
  }

  .footer__email-link {
    &:hover {
      color: transparent;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .footer__privacy-link {
    &:hover {
      color: transparent;
    }

    &:hover::after {
      width: 100%;
    }
  }
}

@media (hover: none) {
  .footer__phone-number {
    &:active {
      color: transparent;
    }

    &:active::after {
      width: 100%;
    }
  }

  .footer__social {
    &:active {
      animation: dialing 1s linear 0.3s infinite;
    }

    .footer__email-link {
      &:active {
        color: transparent;
      }

      &:active::after {
        width: 100%;
      }
    }
  }

  .footer__privacy-link {
  
    &:active {
      color: transparent;
    }
  
    &:active::after {
      width: 100%;
    }
  }
}

@media (max-width: 1000px) {
  .footer__top {
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 20px;
  }

  .footer__devider {
    display: none;
  }

  .footer__address {
    translate: 0 0 0;
  }

  .footer__privacy-link {
    font-size: 10px;
  }

  .footer__rights-text {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .footer {
    .logo {
      margin-bottom: 10px;
    }
  }
  .footer__top {
    @include flex-mix(space-between, center, column);
    flex-wrap: nowrap;
    column-gap: 0;
    row-gap: 0;
    margin-bottom: 20px;
  }
  .footer__contacts {
    margin-bottom: 15px;
  }
  .footer__address {
    order: 1;
    text-align: center;
  }
  .footer__email {
    margin-bottom: 25px;
  }
  .footer__bottom {
    width: 100%;
    @include flex-mix(space-between, center, column);
  }
}

@media (max-width: 480px) {
  .footer {
    .logo {
      &__svg {
        width: 133px;
      }
    }
  }
  .footer__contacts {
    @include flex-mix(flex-start, center, column);
  }

  .footer__privacy {
    @include flex-mix(space-between, center, column);
    gap: 10px;
  }
}

@media (max-width: 360px) {
  .footer__rights-text {
    font-size: 8px;
  }
}
