.galary {
  width: 100%;
  padding: 143px 0 0 0;
  background-image: url("../img/galary/galary-bg.png");
  // background-size: 258px 223px;
  background-position: 10px 20px;
  background-repeat: no-repeat;
}

.galary__title {
  margin-bottom: 25px;
}
.galary__descr {
  text-align: center;
  margin: 0 auto 63px;
  max-width: 632px;
}
.galary__images {
  width: 100%;
}
.swiper {
}
.galary__images-track {
  display: grid;
  grid-template-columns: repeat(4, minmax(180px, 358px));
  place-content: center;
}
.swiper-wrapper {
}
.swiper-slide {
}
.galary__img-card {
  width: 100%;
  max-width: 358px;
  aspect-ratio: 1.33 / 1;
  overflow: hidden;
  // cursor: pointer;
}

.galary__img-link {
  display: block;
  width: 100%;
  height: 100%;
}
.galary__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.3s;
  .galary__img-card:hover & {
    scale: 1.05;
  }
}

@media (min-width: 1440px) {
  .galary__images-track {
    grid-template-columns: repeat(4, minmax(358px, 1fr));
  }

  .galary__img-card {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .galary__images-track {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
  }
  .galary__img-card {
    max-width: 100%;
  }
}

@media (max-width: 376px) {

  .galary {
    padding: 50px 0 43px 0;
    background-image: none;
  }

  .galary__images {
    // height: 305px;
    .swiper-pagination {
      width: 100%;
      height: 10px;
      @include flex-mix(center, center, row);

      &-bullet {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin: 0;
        margin: 0 5px;
        background-color: $sixth-color;
        transition: all 0.3s;

        &-active {
          background-color: $third-color;
        }
      }
    }
  }

  .galary__images-track {
    // height: 265px;
    min-width: 100%;
    display: flex;
    justify-content: start;
    margin-bottom: 30px;

    .swiper-wrapper {
      display: flex;
    }

    .swiper-slide {
      // flex-shrink: 1;
    }

    .swiper-slide-active {
      
    }
  }

  .galary__img-card {
    min-width: 100%;
  }
}
