/* global styles*/

body{
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.6;
  color: rgb(22, 46, 228);
  background-color: rgb(227, 228, 225);
}

