/* modals styles*/
.modal-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 15px;
  z-index: -50;
  opacity: 0;
  pointer-events: none;
  transition: .3s;
  background: $modal-bg;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-window--visible{
  z-index: 50;
  opacity: 1;
  pointer-events: all;
}
