/* global styles*/

body{
  font-family: $main-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .5px;
  color: $main-color;
  background-color: $second-color;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1270px;
  padding: 0 10px;
}

.big-container {
  width: 100vw;
}

.no-scroll {
  overflow: hidden;
}

.visible {
  display: block;
}

@media (max-width: 376px) {
  .container {
    padding: 0 8px;
  }

  .big-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 8px;
  }
}